# Ignore Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
Assets/AssetStoreTools*

# Ignore Visual Studio files
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Ignore system files
.DS_Store
Thumbs.db

# Ignore builds
*.apk
*.aab
*.exe
*.app
